* {
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

main {
  background-color: #f6f6f6;
}
@media (min-width: 1024px) {
  main {
    background-color: white;
  }
}

footer {
  background-color: #353535;
  padding-top: 22px;
  padding-bottom: 22px;
}

li {
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  gap: 7px;
}
@media (min-width: 1024px) {
  li {
    display: flex;
    flex-direction: row-reverse;
    justify-content: end;
    padding-right: 5%;
    padding-top: 4%;
  }
}

.titreohmyfood {
  color: white;
  font-family: "Shrikhand";
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  padding-bottom: 9px;
  padding-left: 6%;
  display: flex;
}

.divmentions {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
@media (min-width: 768px) {
  .divmentions {
    flex-direction: row;
    gap: 45px;
  }
}

.mentions {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.couverts {
  padding-right: 16px;
}

.poignedemain {
  padding-right: 10px;
}

header {
  height: 63px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  height: 36px;
  width: 200px;
}

.flecheancre {
  position: absolute;
  right: 90%;
}
@media (min-width: 1024px) {
  .flecheancre {
    right: 97%;
  }
}
@media (min-width: 768px) {
  .flecheancre {
    right: 95%;
  }
}

.belleville {
  font-size: 16px;
  background-color: #EAEAEA;
  height: 50px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.belleville .pin {
  padding-right: 17px;
  color: #353535;
}

.sectionreserver {
  background-color: #F6F6F6;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}
@media (min-width: 1024px) {
  .sectionreserver {
    padding-bottom: 0;
    gap: 18px;
  }
}

.titrereserver {
  margin: 0;
  text-align: center;
  width: 75%;
}
@media (min-width: 1024px) {
  .titrereserver {
    font-size: 40px;
  }
}

.decouvrez {
  font-size: 18px;
  color: #353535;
  text-align: center;
  width: 75%;
  padding-top: 10px;
  padding-bottom: 25px;
}

.brestaurant {
  color: white;
  border: 1px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  height: 50px;
  width: 218px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brestaurant:hover {
  background: linear-gradient(193deg, #a07dca -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  transition: 1000ms;
}

.sectionfonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 10px;
  padding-top: 35px;
  padding-bottom: 60px;
}

.titrefonctionnement {
  font-size: 24px;
  padding-bottom: 26px;
}

.divfonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  width: 95%;
}
@media (min-width: 1024px) {
  .divfonctionnement {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}

.rond {
  color: white;
  border: 1px solid #9356DC;
  border-radius: 24px;
  height: 24px;
  width: 24px;
  line-height: 24px;
  background-color: #9356DC;
  text-align: center;
  display: inline-block;
}

.iconefonc {
  color: #7E7E7E;
}

.rectangle {
  display: flex;
  align-items: center;
  gap: 25px;
  border: 1px solid #F6F6F6;
  border-radius: 20px;
  background-color: #F6F6F6;
  height: 72px;
  width: 85%;
  font-weight: 500;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}
@media (min-width: 768px) {
  .rectangle {
    width: 55%;
  }
}
@media (min-width: 1024px) {
  .rectangle {
    width: 30%;
  }
}

.sectionrestaurant {
  background-color: #F6F6F6;
  padding-top: 35px;
  padding-bottom: 60px;
  gap: 18px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titrerestaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 40px;
}

.titrefonctionnementrestaurant {
  position: relative;
  right: 20%;
}
@media (min-width: 768px) {
  .titrefonctionnementrestaurant {
    right: 30%;
  }
}
@media (min-width: 1024px) {
  .titrefonctionnementrestaurant {
    right: 40%;
  }
}

.divrestaurant {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 5%;
  row-gap: 100px;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

.articlerestaurant {
  width: 90%;
}
@media (min-width: 1024px) {
  .articlerestaurant {
    width: 39%;
  }
}
@media (min-width: 768px) {
  .articlerestaurant {
    width: 45%;
  }
}

.nouveau {
  color: #008766;
  border: 2px solid #99E2D0;
  background: #99E2D0;
  width: 25%;
  height: 29px;
  line-height: 29px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  position: relative;
  top: 42px;
  left: 68%;
}
@media (min-width: 1024px) {
  .nouveau {
    left: 69%;
  }
}

.imagem {
  width: 100%;
  height: 231px;
  border-radius: 15px 15px 0px 0px;
  -o-object-fit: cover;
     object-fit: cover;
}

.contenucarte {
  background-color: white;
  border-radius: 0px 0px 15px 15px;
}

.titremenucarte {
  font-size: 18px;
  padding-left: 13px;
  padding-top: 15px;
}

.textecarte {
  font-size: 17px;
  padding-top: 5px;
  padding-left: 13px;
  padding-bottom: 15px;
}

.coeurvide {
  position: relative;
  top: 20px;
  left: 90%;
  font-size: 18px;
}
.coeurvide:hover {
  font-weight: 900;
  color: #9356DC;
  transition: 500ms;
}

.loaderbackground {
  display: block;
  position: fixed;
  animation: loaderbackground 3000ms;
  animation-fill-mode: forwards;
  width: 100%;
  height: 100%;
  background-color: #353535;
  z-index: 20;
}

@keyframes loaderbackground {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -20;
  }
}
.loaderbar1::before {
  content: "";
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -75px;
  margin-left: -25px;
  animation: loader linear 2000ms;
  animation-fill-mode: forwards;
  width: 50px;
  height: 150px;
  background-color: #9356DC;
  z-index: 20;
}

.loaderbar1::after {
  content: "";
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -75px;
  margin-left: 50px;
  animation: loader linear 1000ms;
  animation-fill-mode: forwards;
  width: 50px;
  height: 150px;
  background-color: #9356DC;
  z-index: 20;
}

.loaderbar2 {
  display: block;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-top: -75px;
  margin-left: -100px;
  animation: loader linear 3000ms;
  animation-fill-mode: forwards;
  width: 50px;
  height: 150px;
  background-color: #9356DC;
  z-index: 1;
}

@keyframes loader {
  0% {
    transform: scaleY(0);
    opacity: 0;
  }
  50% {
    transform: scaleY(1);
    opacity: 1;
  }
  100% {
    transform: scaleY(0);
    opacity: 0;
  }
}
.imagem2 {
  width: 100%;
  height: 275px;
  -o-object-fit: cover;
     object-fit: cover;
}

.sectionmenu {
  background-color: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
  position: relative;
  bottom: 50px;
  gap: 40px;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .sectionmenu {
    width: 75%;
    left: 12%;
  }
}

.titremenu {
  font-family: "shrikhand";
  font-size: 28px;
  font-weight: 400;
  text-align: center;
  padding-top: 32px;
}

.coeurvidemenu {
  padding-left: 20px;
}
.coeurvidemenu:hover {
  font-weight: 900;
  color: #9356DC;
  transition: 500ms;
}

.entreeplatdesserttitre {
  display: flex;
  font-size: 16px;
  font-weight: 300;
  height: 27px;
}

.placementtitremenu {
  position: relative;
  right: 35%;
}
@media (min-width: 1024px) {
  .placementtitremenu {
    right: 27%;
  }
}

.trait {
  border-bottom: 3px #99E2D0 solid;
}

.entreeplatdessert {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.carte {
  background-color: white;
  width: 95%;
  height: 69px;
  border-radius: 15px;
  box-shadow: 0px 4.01149px 15.0431px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 5px;
}
@media (min-width: 768px) {
  .carte {
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .carte {
    width: 60%;
  }
}

.titretexte {
  width: 100%;
  transition: 1000ms;
}
.titretexte:hover {
  width: 81%;
}
@media (min-width: 375px) {
  .titretexte:hover {
    width: 82%;
  }
}
@media (min-width: 425px) {
  .titretexte:hover {
    width: 85%;
  }
}
@media (min-width: 768px) {
  .titretexte:hover {
    width: 88%;
  }
}
@media (min-width: 1024px) {
  .titretexte:hover {
    width: 87%;
  }
}
@media (min-width: 1440px) {
  .titretexte:hover {
    width: 91.2%;
  }
}

.check {
  height: 100%;
  width: 59px;
  background-color: #99E2D0;
  border-radius: 0 15px 15px 0;
  align-items: center;
  justify-content: center;
  display: flex;
}
.check .iconecheck {
  height: 20px;
  width: 20px;
  line-height: 20px;
  border-radius: 20px;
  text-align: center;
  border: 1px solid white;
  background-color: white;
  color: #99E2D0;
}

.titrecarte {
  font-size: 18px;
  padding-inline-start: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.textecarte2 {
  font-size: 15px;
  padding-inline-start: 15px;
  font-weight: 300;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.prix {
  display: flex;
  position: relative;
  font-weight: 700;
  left: 90%;
  width: 20px;
}

.divcommander {
  display: flex;
  justify-content: center;
}

.commander {
  color: white;
  border: 1px;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  height: 50px;
  width: 186px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.commander:hover {
  background: linear-gradient(193deg, #a07dca -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
  transition: 1s;
}

@media (min-width: 1024px) {
  .bouchetrou {
    position: absolute;
    top: 1092px;
    height: 50px;
    width: 100%;
    background-color: #F6F6F6;
  }
}

.entree {
  animation: entree;
  animation-duration: 1000ms;
}

.plat {
  animation: plat;
  animation-duration: 2000ms;
}

.dessert {
  animation: dessert;
  animation-duration: 3000ms;
}

@keyframes entree {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes plat {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
@keyframes dessert {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}/*# sourceMappingURL=main.css.map */