header {
    height: 63px;
    display: flex;
    align-items: center;
    justify-content: center;


   
}

.logo {

        height: 36px;
        width: 200px;

        
}




.flecheancre {
    position: absolute;
    right: 90%;

    @media (min-width: 1024px) {
        right: 97%;
    }

    @media (min-width: 768px) {
        right: 95%;
    }
}