.imagem2 {
    width: 100%;
    height: 275px;
    object-fit: cover;


}

.sectionmenu {
    background-color: #F6F6F6;
    border-radius: 40px 40px 0px 0px;
    position: relative;
    bottom: 50px;
    gap: 40px;
    display: flex;
    flex-direction: column;

    @media (min-width: 1024px) {
        width: 75%;
        left: 12%;

    }
}


.titremenu {
    font-family: "shrikhand";
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    padding-top: 32px;

}

.coeurvidemenu {
    padding-left: 20px;

    &:hover {
        font-weight: 900;
        color: $main-color;
        transition: 500ms;
    }

}



.entreeplatdesserttitre {
    display: flex;
    font-size: 16px;
    font-weight: 300;
    height: 27px;

}

.placementtitremenu {

    position: relative;
    right: 35%;

    @media (min-width: 1024px) {
        right: 27%;
    }

}


.trait {

    border-bottom: 3px $green solid;

}

.entreeplatdessert {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.carte {
    @include carte;

    @media (min-width: 768px) {
        width: 70%;
    }

    @media (min-width: 1024px) {
        width: 60%;
    }





}

.titretexte {
    width: 100%;
    transition: 1000ms;
    
    &:hover {

        width: 81% ;
        
     }
     @media (min-width: 375px) {
        &:hover {

            width: 82%;
            
         }
        }
     @media (min-width: 425px) {
        &:hover {

            width: 85%;
            
         }
        }

     @media (min-width: 768px) {
        &:hover {

            width: 88%;
            
         }

    }

    @media (min-width: 1024px) {
        &:hover {

            width:87% ;
            
         }
    }


    @media (min-width: 1440px) {
        &:hover {

            width:91.2% ;
            
         }
    }



}

.check {
    height: 100%;
    width: 59px;
    background-color: $green;
    border-radius: 0 15px 15px 0;
    align-items: center;
    justify-content: center;
    display: flex;
    
 


    .iconecheck {

        height: 20px;
        width: 20px;
        line-height: 20px;
        border-radius: 20px;
        text-align: center;
        border: 1px solid white;
        background-color: white;
        color: $green;
    }
}




.titrecarte {
    font-size: 18px;
    padding-inline-start: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.textecarte2 {
    font-size: 15px;
    padding-inline-start: 15px;
    font-weight: 300;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.prix {
    display: flex;
    position: relative;
    font-weight: 700;
    left: 90%;
    width: 20px
}

.divcommander {
    display: flex;
    justify-content: center
}

.commander {
    @include commander;

    z-index: 2;


    &:hover {
        background: $buttongradient2;
        box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);

        transition: 1s;


    }
}

.bouchetrou {
    @media (min-width: 1024px) {

        position: absolute;
        top: 1092px;
        height: 50px;
        width: 100%;
        background-color: #F6F6F6;
    }

}

.entree {
    animation: entree;
    animation-duration: 1000ms;
}

.plat {
    animation: plat;
    animation-duration: 2000ms;
}

.dessert {
    animation: dessert;
    animation-duration: 3000ms;

}

@keyframes entree {

    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }




}

@keyframes plat {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}

@keyframes dessert {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0.25;
    }

    50% {
        opacity: 0.5;
    }

    75% {
        opacity: 0.75;
    }

    100% {
        opacity: 1;
    }
}